/* .home-body {
  padding-left: 10%;
  padding-right: 10%;
} */

.most-viewed-container {
  padding-left: 10%;
  padding-right: 10%;
}

.home-intro-section {
  height: 200px;
  width: 50%;
  background-image: url("../../../public/heroesimage.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.139);
}
.home-intro-title {
  font-size: 70px;
  font-weight: bolder;
  font-style: italic;
  color: #723f3f;
  text-shadow: 2px 2px #000000;
  margin-bottom: 10%;
}

.most-viewed-container h1,
.explore-games-container h1 {
  color: #723f3f;
  text-align: left;
}
.explore-games-container h1 {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}
.explore-games-container {
  height: 100%;
  margin-top: 10%;
}

.explore-games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7%;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
}

.explore-games-background-overlay {
  background-color: rgba(47, 44, 44, 0.119);
}
